<section class="container">

  <h2 class="mb-4 mt-2 title-section">Crear usuario</h2>

  <form [formGroup]="formAdd" (ngSubmit)="addData()" novalidate="novalidate" autocomplete="off">
    <div class="row">
      <div class="z-card">

        <mat-form-field class="col-12 mb-2" appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="UEmail" maxlength="256" placeholder="Correo electrónico" />
          <mat-error *ngIf="
              formAdd.controls['UEmail'].invalid &&
              (formAdd.controls['UEmail'].dirty ||
                formAdd.controls['UEmail'].touched)
            ">
            <span *ngIf="formAdd.controls['UEmail'].errors?.['required']">
              <i class="fas fa-exclamation-circle mr-1"></i>
              El correo electrónico es requerido.
            </span>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="col-12 mb-2" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="UPassword" maxlength="256" placeholder="Contraseña" />

          <mat-error *ngIf="
              formAdd.controls['UPassword'].invalid &&
              (formAdd.controls['UPassword'].dirty ||
                formAdd.controls['UPassword'].touched)
            ">
            <span *ngIf="formAdd.controls['UPassword'].errors?.['required']">
              La contraseña es requerida.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-12 mb-2" appearance="outline">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput formControlName="UFullName" maxlength="256" placeholder="Nombre de usuario" />
          <mat-error *ngIf="
              formAdd.controls['UFullName'].invalid &&
              (formAdd.controls['UFullName'].dirty ||
                formAdd.controls['UFullName'].touched)
            ">
            <span *ngIf="formAdd.controls['UFullName'].errors?.['required']">
              <i class="fas fa-exclamation-circle mr-1"></i>
              El nombre de usuario es requerido.
            </span>
          </mat-error>
        </mat-form-field>

      </div>


      <div class="col-12 text-end">
        <button class="btn btn-reserve btn-primary btn-lg btn-block">
          Crear
        </button>

      </div>
    </div>
  </form>
</section>
