<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2 class="mb-3 title-section">Administrar noticias</h2>
    </div>
    <div class="col-6 mb-3 text-end">

      <button class="btn btn-reserve btn-primary btn-lg" (click)="openAdd()">
        Crear
      </button>

    </div>
    <div class="col-12">
      <mat-form-field class="z-search w-100" appearance="outline">
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

    <div class="table-container-responsive col-12 table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="IdPost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let row; index as i">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="PPhoto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
          <td mat-cell *matCellDef="let row">
            <img class="rounded" src="{{ row.PPhoto }}" alt="{{ row.PTitle }}" width="100" height="100">
          </td>
        </ng-container>

        <ng-container matColumnDef="PTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
          <td mat-cell *matCellDef="let row">{{ row.PTitle }}</td>
        </ng-container>

        <ng-container matColumnDef="CDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoría</th>
          <td mat-cell *matCellDef="let row">{{ row.Category.CDescription }}</td>
        </ng-container>

        <ng-container matColumnDef="UFullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
          <td mat-cell *matCellDef="let row">{{ row.User.UFullName }}</td>
        </ng-container>

        <ng-container matColumnDef="PPlace">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Lugar</th>
          <td mat-cell *matCellDef="let row">{{ row.PPlace }}</td>
        </ng-container>

        <ng-container matColumnDef="PRegisterDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let row">{{ row.PRegisterDateTime | date }}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let row">


            <a target="_blank" mat-icon-button [routerLink]="['../../noticia', row.IdPost]">
              <mat-icon>open_in_new</mat-icon>
            </a>

            <button mat-icon-button color="primary" (click)="openUpdate(row)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="openDelete(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay datos que coincidan con el filtro "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
